<header>
    <!-- Navbar -->
    <div class="top_sky">
        <div class="sky">
            <div class="container-player">
                <div class="logo">
                    <a href="//ani.gamer.com.tw"><img src="https://i2.bahamut.com.tw/anime/crazy_logo.png" height="100%"></a>
                </div>
                <div class="anime_search">
                    <form id="frm1210" action="search.php" method="POST">
                        <div class="anime_search-input">
                            <input type="text" id="anime-search-sky" name="kw" placeholder="請輸入動畫名稱" autocomplete="off">
                            <div class="anime_search-icon">
                                <img src="https://i2.bahamut.com.tw/anime/search-icon.svg">
                            </div>
                        </div>
                    </form>

                    <div class="anime_search-content">
                        <div class="search-content-unit search-recent">
                            <div class="tip-title">
                                <img src="https://i2.bahamut.com.tw/anime/pic-clock.svg">
                                <p>最近搜尋</p>
                                <button type="button" class="delete-record-btn">
                                    <svg width="12" height="16" viewBox="0 0 12 16">
                                        <path d="M8.96.743,8.339.122A.418.418,0,0,0,8.044,0H4.064A.415.415,0,0,0,3.77.122L3.149.743a.416.416,0,0,1-.295.123H.416A.415.415,0,0,0,0,1.282v.9A.416.416,0,0,0,.416,2.6H11.692a.417.417,0,0,0,.417-.417v-.9a.416.416,0,0,0-.417-.416H9.254A.413.413,0,0,1,8.96.743" transform="translate(-0.109 0)" fill="#c4c4c4"></path>
                                        <path d="M1,4V14.38A1.734,1.734,0,0,0,2.73,16.11H9.65a1.735,1.735,0,0,0,1.73-1.729V4Zm4.279,9.867a.753.753,0,1,1-1.506,0V6.243a.753.753,0,1,1,1.506,0Zm3.327,0a.753.753,0,1,1-1.506,0V6.243a.753.753,0,1,1,1.506,0Z" transform="translate(-0.244 -0.54)" fill="#c4c4c4"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="search-tag-wrap">
                                <div class="search-hint">快來搜尋想看的作品吧！</div>
                                <div class="search-tag keyword">來自深淵</div><div class="search-tag keyword">來自</div><div class="search-tag keyword">夏日時光</div><div class="search-tag keyword">女性向遊戲世界對路人角色很不友好</div>
                            </div>
                        </div>
                        <div class="search-content-unit search-hot">
                            <div class="tip-title">
                                <img src="https://i2.bahamut.com.tw/anime/pic-fire.svg">
                                <p>熱門搜尋</p>
                            </div>
                            <div class="search-tag-wrap">
                                <div class="search-tag keyword">間諜家家酒</div><div class="search-tag keyword">來自深淵</div><div class="search-tag keyword">OVERLORD</div><div class="search-tag keyword">輝夜姬</div><div class="search-tag keyword">賽馬</div><div class="search-tag keyword">進擊的巨人</div><div class="search-tag keyword">賽馬娘</div><div class="search-tag keyword">柯南</div><div class="search-tag keyword">86</div><div class="search-tag keyword">刀劍神域</div><div class="search-tag keyword">出租女友</div><div class="search-tag keyword">刀劍</div><div class="search-tag keyword">排球少年</div><div class="search-tag keyword">輝夜</div><div class="search-tag keyword">來自</div>
                            </div>
                        </div>
                        <div class="search-content-unit search-category">
                            <div class="tip-title">
                                <img src="https://i2.bahamut.com.tw/anime/pic-tag.svg">
                                <p>動畫類型</p>
                            </div>
                            <div class="search-tag-wrap">
                                <div class="search-tag" onclick="location.href=&quot;animeList.php?c=All&quot;">所有動畫</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=3&quot;">奇幻冒險</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=4&quot;">科幻未來</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=13&quot;">青春校園</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=5&quot;">幽默搞笑</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=1&quot;">戀愛</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=2&quot;">溫馨</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=6&quot;">靈異神怪</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=7&quot;">推理懸疑</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=8&quot;">料理美食</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=9&quot;">社會寫實</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=10&quot;">運動競技</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=11&quot;">歷史傳記</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=family-friendly&quot;">闔家觀賞</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=bilingual&quot;">雙語</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=12&quot;">其他</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=ova&quot;">OVA</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=movie&quot;">電影版</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=vip&quot;">付費會員</div><div class="search-tag" onclick="location.href=&quot;animeList.php?c=age-valiage&quot;">年齡限制</div>
                            </div>
                        </div>
                    </div>

                </div>

                <EditForm Model="loginModel"  OnValidSubmit="ValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="anime_search" style="width:320px">
                        <div class="anime_search-input">
                            <input type="text" id="email" placeholder="email" @bind-value="loginModel.email">
                            <ValidationMessage For="()=>loginModel.email" style="color: palevioletred;"/>

                        </div>
                    </div>
                    <div class="anime_search">
                        <div class="anime_search-input">
                            <input type="text" id="password" placeholder="password" @bind="loginModel.password">
                            <ValidationMessage For="()=>loginModel.password" style="color: palevioletred;"/>
                            <div class="anime_search-icon" style="padding:0;">
                                <button class="btn btn-primary">登入</button>
                            </div>
                        </div>
                    </div>
                </EditForm>

                <ul class="member">
                    <li class="searchbtn">
                        <a href="search.php"><i class="material-icons">search</i></a>
                    </li>
                    <li class="top_btn_notice">
                        <span id="topBar_light_0" style="display:none"></span><a href="javascript:TOPBAR_show('light_0')"></a><span class="tooltip">通知</span>
                    </li>
                    <li class="top_btn_subscription">
                        <span id="topBar_light_1" style="display:none"></span><a href="javascript:TOPBAR_show('light_1')"></a><span class="tooltip">訂閱</span>
                    </li>
                    <li class="top_btn_recommend">
                        <span id="topBar_light_2" style="display:none"></span><a href="javascript:TOPBAR_show('light_2')"></a><span class="tooltip">推薦</span>
                    </li>
                    <li class="head">
                        <a href="//home.gamer.com.tw/rohanasdf12"><img src="https://avatar2.bahamut.com.tw/avataruserpic/r/o/rohanasdf12/rohanasdf12_s.png?v=1657806266639"></a><span class="tooltip">我的小屋</span>
                    </li>
                    <li class="bahago">
                        <a href="//www.gamer.com.tw/" target="_blank"><img alt="" src="https://i2.bahamut.com.tw/anime/baha_s.png"></a><span class="tooltip">回到巴哈</span>
                    </li>
                </ul>

                <div id="topBarMsg_light_0" style="display:none"></div>
                <div id="topBarMsg_light_1" style="display:none"></div>
                <div id="topBarMsg_light_2" style="display:none"></div>
                <div id="topBarMsg_hahamut" style="display:none"></div>
                <div id="topBarMsg_more" style="display:none"></div>
            </div>
        </div>
        <nav class="mainmenu on_top">
            <div class="container-player">
                <div class="menu_btn toggle">
                    <i class="material-icons">menu</i>
                </div>
                <ul>
                    <li><a href="index.php">首頁</a></li>
                    <li><a href="animeList.php">所有動畫</a></li>
                    <li><a href="viewList.php?u=rohanasdf12">觀看記錄</a></li>
                    <li><a href="mygather.php">我的動畫</a></li>
                    <li class="menu-payment"><a href="animePayRouter.php">付費方案</a></li>
                    <li><a href="animeAgeValidate.php">年齡驗證</a></li>
                    <li><a href="https://forms.gle/iL4krvy2UwgUd7vFA" target="_blank">問題回報</a></li>
                    <li><a href="//prj.gamer.com.tw/app2u/animeapp.html" target="_blank">APP下載</a></li>
                </ul>
                <div class="dark-swift-button">
                    <input class="swift-btn_toggle" type="checkbox" id="lightSwitch" checked="checked">
                    <label for="lightSwitch">Toggle</label>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar -->

    <div id="dialog" title="驗證" style="display:none; overflow:hidden;">
        <Animate.Pages.Captcha loginModel=loginModel></Animate.Pages.Captcha>
    </div>

    <dov id="BH_background" class="BH_background">
        <!-- Background image -->
        <div class="big_banner"><div class="banner_wrapper"><div class="big_content"><a href="https://www.e-muse.com.tw/zh/news/spy-family_events_00379" target="_blank" class="a-mercy-d" data-mercy="7:0" data-si="" data-ssn="230454"><img border="0" src="https://truth.bahamut.com.tw/s01/202207/b6470d49dcde4e69ea3a4d862e3714c8.JPG"></a></div></div></div>
        <!-- Background image -->
    </dov>
</header>

